<fieldset>
  <legend>Edit Student Details</legend>
  <form method="POST" action="/students/<%= student.id %>/update">
    <div class="form-group col-md-4">
      <input name="student[name]" class="form-control" value="<%= student.name %>"/>
    </div>
    <div class="form-group col-md-4">
      <input name="student[school]"  class="form-control" value="<%= student.school %>"/>
    </div>
    <div class="form-group col-md-4">
      <input type="date" name="student[dob]"  class="form-control" value="<%= student.dob %>"/>
    </div>
    <div class="form-group col-md-4">
      <input name="student[gender]"  class="form-control" value="<%= student.gender %>"/>
    </div>
    <div class="form-group col-md-4">
      <input name="student[tuition]"  class="form-control" value="<%= student.tuition %>"/>
    </div>
    <div class="form-group col-md-4">
      <button class="btn btn-success col-md-12">Edit Profile</button>
    </div>
  </form>
</fieldset>
